<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h3 *ngIf="products; else noProduct">{{title}}</h3>

  <!-- <div class="form-group">
    <input class="form-control" id="productName" placeholder="Search..." [(ngModel)]="filterText">
  </div> -->


  <div class="row">


    <ng-template #noProduct>
      <div class="alert alert-primary" role="alert">
        Bu kategoride urun yoktur
      </div>
    </ng-template>

    <div *ngFor="let nav of products | productFilter:filterText" class="card m-3" style="width: 18rem;">
      <img [src]="nav.imageUrl" class="card-img-top p-1" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{nav.name}} </h5>
        <p class="card-text">{{nav.writer}} {{nav.price | currency:'USD':true:"1.2-2" }}</p>
        <a (click)="addToCart(nav)" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
  </div>

</body>

</html>
